.playground  {
	width: 525px;
	height: 550px;
	margin: 20px auto 0 auto;
	position: relative;
	background-image:url("../img/tetris.png");
}
.playground img  {
    position: absolute;
    width: 26px;
    height: 26px;
}
.playground p  {font-size: 30px;
                font-family: 'SimHei';
                font-weight: bold;
                color: #667799;
                position: absolute;
                left:305px;
                top:120px;
}
.playground p+p  {  top:176px; }
.playground p+p+p  { top:232px; }


/*.index {*/
    /*width: 261px;*/
    /*height: 520px;*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 15px;*/
/*}*/
/*.index div {*/
    /*width: 29px;*/
    /*height: 29px;*/
    /*float: left;*/
    /*display: inline-block;*/
/*}*/

/*.block_i {*/
    /*background: url("../img/I.png") no-repeat center;*/
/*}*/
/*.block_j {*/
    /*background: url("../img/J.png") no-repeat center;*/
/*}*/
/*.block_l {*/
    /*background: url("../img/L.png") no-repeat center;*/
/*}*/
/*.block_o {*/
    /*background: url("../img/O.png") no-repeat center;*/
/*}*/
/*.block_s {*/
    /*background: url("../img/S.png") no-repeat center;*/
/*}*/
/*.block_t {*/
    /*background: url("../img/T.png") no-repeat center;*/
/*}*/
/*.block_z {*/
    /*background: url("../img/Z.png") no-repeat center;*/
/*}*/